/**
 * @file
 * Collection toolbar icon styling.
 */

/* Bar styling (first row), currently unused. */
.toolbar-bar .toolbar-link-entity-collection-collection:before {
  background-image: url(/core/misc/icons/787878/orgchart.svg);
}
.toolbar-bar .toolbar-icon-entity-collection-collection:active:before {
  background-image: url(/core/misc/icons/787878/orgchart.svg);
}

/* Tray styling (second row) */
.toolbar-tray .toolbar-icon.toolbar-icon-entity-collection-collection:before {
  background-image: url(/core/misc/icons/787878/orgchart.svg);
}
.toolbar-tray .toolbar-icon.toolbar-icon-entity-collection-collection:active:before {
  background-image: url(/core/misc/icons/787878/orgchart.svg);
}
